<div class="col-md-9 col-md-height col-top flm-Colonne flm-ColonneCentrale">
    <div id="sloganImage" class="hidden-xs hidden-sm"></div>
    <div id="sloganTexte">#SLOGAN_SITE_SPIP</div>
    <div class="row">
        <div class="col-md-1 col-lg-2"></div>
        <div class="col-md-10 col-lg-9">