[(#REM) Pour affiner voir http://contrib.spip.net/Melange-d-elements-heterogenes]
<div class="col-md-3 col-md-height col-top flm-Colonne flm-ColonneGauche" id="menuCol">
    <div id="logoImage">
        <a href="index.html" alt="Accueil - #NOM_SITE_SPIP"><img src="[(#FLM_RSCPATH)]images/logo.png" alt="Logo - #NOM_SITE_SPIP"/></a>
    </div>
    <ul class="Menu" id="globalMenu">
        <li class="Menu"><p[ class="(#ENV{accueil})"]><a href="index.html"><span class="Libelle">FLM, le moteur de recherche</span></a></p></li>
        <BOUCLE_qui(ARTICLES){id_article=4}>
            <li class="Menu"><p[ class="(#EXPOSE)"]><a href="article4.html"><span class="Libelle">#TITRE</span></a></p></li>
        </BOUCLE_qui>
        <BOUCLE_quoi(ARTICLES){id_article=14}>
            <li class="Menu"><p[ class="(#EXPOSE)"]><a href="article14.html"><span class="Libelle">#TITRE</span></a></p></li>
        </BOUCLE_quoi>
        <BOUCLE_thematiques(RUBRIQUES){id_rubrique=4}>
            <li class="Thematiques[ (#EXPOSE{ThematiquesVisibles,''})]"><p><span id="thematiquesTitre"><span class="Libelle">#TITRE</span></span></p>
            <ul id="thematiquesMenu" class="[(#EXPOSE{'',ListeCachee})]">
            <BOUCLE_articles(ARTICLES){id_rubrique}>
                <li class="Thematique[ (#EXPOSE{ThematiqueEncours,''})]"><p><a href="#URL_ARTICLE"><span>#TITRE</span></a></p></li>
            </BOUCLE_articles>
            </ul>
            </li>
        </BOUCLE_thematiques>
    </ul>
</div>