<meta http-equiv="Content-Type" content="text/html; charset=#CHARSET" />
<meta name="viewport" content="width=device-width, initial-scale=1">

<link href="[(#FLM_RSCPATH)]images/icon-16.png" type="image/png" rel="icon">
<link rel="stylesheet" href="[(#FLM_RSCPATH)]bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="[(#FLM_RSCPATH)]css/main.css"/>
[<link rel="stylesheet" href="(#CHEMIN{css/spip.css}|direction_css)" type="text/css" />]

#INSERT_HEAD_CSS

#INSERT_HEAD

<script>
document.write("<link rel=\"stylesheet\" href=\"[(#FLM_RSCPATH)]css/javascript.css\"/>\n");
</script>
<script src="[(#FLM_RSCPATH)]js/menu.js" type="text/javascript"></script>
<script src="[(#FLM_RSCPATH)]js/jquery.json-2.4.0.min.js"></script>
<script src="[(#FLM_RSCPATH)]js/historique-affichage.js" type="text/javascript"></script>
<script src="[(#FLM_RSCPATH)]bootstrap/3.3.7/js/bootstrap.min.js"></script>