<div class="container container-md-height"  id="piedContainer">
<div class="row row-md-height">
    <div class="col-md-3 col-md-height col-top flm-Colonne flm-ColonneGauche"></div>
    <div class="col-md-9 col-md-height col-top flm-Colonne flm-ColonneCentrale" id="liensPiedCol">
    <ul class="nav nav-pills nav-justified">
        <li><a href="index.html">Accueil</a></li>
        <li><a href="article2.html">Mentions légales</a></li>
        <li><a href="plan.html">Plan du site</a></li>
        <li><a href="article3.html">Contacts</a></li>
    </ul>
    </div>
</div>
</div>
<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(["trackPageView"]);
  _paq.push(["enableLinkTracking"]);

  (function() {
    var u=(("https:" == document.location.protocol) ? "https" : "http") + "://stats.coredem.info/piwik/";
    _paq.push(["setTrackerUrl", u+"piwik.php"]);
    _paq.push(["setSiteId", "19"]);
    var d=document, g=d.createElement("script"), s=d.getElementsByTagName("script")[0]; g.type="text/javascript";
    g.defer=true; g.async=true; g.src=u+"piwik.js"; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Piwik Code -->