body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: #090909;
        word-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto;
}


h1 {
 font-size: 1.2em;   
}

h1,h2,h3 {
    font-weight: bold;
}

a {
    color: #8b181f;
    text-decoration : none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: #ef545f;
}


img.IconeBase {
    border: none;
    vertical-align: middle;    
}

p {
    text-align: justify;
}

li p {
    text-align: left;
}


.container {
   
}

#sloganImage {
    border-bottom-width: 4px;
    border-bottom-color: #090909;
    border-bottom-style: solid;
    height: 210px;
    background-color: #c3181e;
    background-image: url("entete-echelle.png");
    background-repeat: no-repeat;
    background-position: top center;
}

#sloganTexte {
    display: none;
}

#logoImage {
    height: 170px;
    text-align: center;
    background-color: white;
    position: relative;
    border-bottom-width: 4px;
    border-bottom-style: solid;
    border-bottom-color: #090909;
}

#globalMenu {
    margin-bottom: 10px;
}


#menuCol {
 
}

div.flm-Colonne {
   padding: 0; 
}

div.flm-ColonneCentrale {
    background-color: white;
    padding-bottom: 2px;
}

div.flm-ColonneGauche {
    background-color: #b99487;
}

@media (min-width: 992px) {
    div.flm-ColonneCentrale {
        border-left-width: 7px;
        border-left-color: #090909;
        border-left-style: solid;
    }
    
    h1 {
     margin-bottom: 40px;   
    }
    
    #thematiquesMenu {
        position: relative;
        left: 50px;
    }
}


#piedContainer {
    border-top-width: 4px;
    border-top-color: #090909;
    border-top-style: solid;
}


/* Pied de page */

#liensPiedCol li {
    font-size: 0.9em;
    font-weight: bold;
    padding-top: 5px;
}

#liensPiedCol a, #liensPiedCol a:visited {
color: #090909;
}

hr {
    clear: both;
    height: 0;
    width: 0;
}

/* Gauche */
#menuCol a, #menuCol a:visited {
 color: white;
 text-decoration: none;
}


ul.Menu {
    margin: auto;
    padding: 0;
}

li.Menu, li.Thematiques {
    margin: 0;
    padding: 0;
    list-style: none;
    border-bottom-width: 4px;
    border-bottom-style: solid;
    border-bottom-color: #090909;
}

li.Menu {
    font-size: 12px;
    font-weight: bold;
}

li.Historique {
    margin: 0;
    padding: 0;
    list-style: none;
    
}

li.Historique p {
margin: 0;   
font-size: 12px;
font-weight: bold;
color: white;
padding-left: 20px;
padding-top: 8px;
padding-bottom: 4px;
}

ul.Recherches {
    margin-left: 30px;
    padding-left: 0;
}

ul.Recherches li {
    list-style: none;
    margin-top: 3px;
    font-style: italic;
}

#menuCol ul.Recherches li a {
    color: #6d5a52;
}

#menuCol ul.Recherches li a:visited {
    color: #6d5a52;
}

#menuCol ul.Recherches li a.DerniereRecherche {
    color: #c3181e;
    font-weight: bold;
}

#menuCol ul.Recherches li a.DerniereRecherche:visited {
    color: #c3181e;
    font-weight: bold;
}


#menuCol ul.Recherches li a:hover {
    text-decoration: underline;
}

h2.Partenaire {
    font-size: 1.0em;
    margin-top: 30px;
}

p.Lien_Partenaire {
 font-size: 0.8em;   
}


li.Menu p {
    margin: 0;
    height: 36px;
}

li.Menu p.on {
    background-color: #c3181e;
}

li.Menu a, #thematiquesTitre {
   display: block;
   height: 36px;
   padding-left: 20px;
   
}

#thematiquesTitre {
    color: white;
    font-size: 12px;
    font-weight: bold;
}

li.Menu a:hover, #thematiquesTitre:hover {
   background-color: #c3181e;
   cursor: pointer;
   
}

li.Menu a span.Libelle, #thematiquesTitre span.Libelle {
   display: table-cell;
   vertical-align: middle;
   height: 36px;
   
}
li.Thematiques p  {
    margin: 0;
}

li.ThematiquesVisibles   {
  background-color: #c3181e;
}

#thematiquesMenu {
    position: relative;
    border-width: 3px;
    border-style: solid;
    border-color: #090909;
    background-color: #947e73;
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    z-index: 100;
}

li.Thematique {
   margin: 0;
   padding: 0;
   list-style: none;

}

li.ThematiqueEncours {
    background-color: #c7a599;
}

li.Thematique p {
margin: 0;
}

li.Thematique a {
    display: block;
    padding-left: 25px;
   
}

#thematiquesMenu li.ThematiqueEncours a {
    color: #090909;
}

li.Thematique a:hover {
    background-color: #c7a599;
}

li.Thematique a span {
    display: list-item;
    list-style: disc;
    padding-top: 5px;
    padding-bottom: 5px;
}

/**
 * Scrutari
 */

ul.SCT_Fiches {
 margin-left: 0;
 margin-bottom: 20px;
 padding: 0;
}

ul.SCT_Fiches li {
 list-style: none;
 margin-top: 20px;
}

ul.SCT_Fiches li div {
    float: left;
}

p.SCT_Titre {
 color: #947e73;
 margin-top: 0;
margin-bottom: 0;
font-weight: bold;
margin-left: 20px;
}


p.SCT_Soustitre {
    margin-top: 5px;
    margin-bottom: 0;
    margin-left: 20px;
}

p.SCT_Complements, p.SCT_Motscles {
    margin-top: 5px;
    margin-bottom: 0;
    font-size: 0.9em;
    margin-left: 20px;
}

span.SCT_Marque {
    text-decoration: underline;
}

span.SCT_Intitule {
    font-style: italic;
}

/****************************************************************
 * Affichage du résultat
 */

#RECHERCHE_RESULTAT {
    color: #8b181f;
    font-style: italic;
}

#RECHERCHE_RESULTAT p {
    margin: 0;
}

#RECHERCHE_RESULTAT ul {
    margin-top: 4px;
    margin-left: 0;
    padding-left: 5px;
}

#RECHERCHE_RESULTAT li {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    margin-bottom: 7px;
}

#RECHERCHE_RESULTAT li img {
    vertical-align: middle;
}

#RECHERCHE_RESULTAT div {
    float: left;
}

#RECHERCHE_RESULTAT li p {
    padding-left: 20px;
}

#RECHERCHE_RESULTAT li p.SoustitreBase {
    font-size: 0.8em;
}

#RECHERCHE_RESULTAT li span.TotalResultats {
    font-style: normal;
}


/****************************************************************
 * Traitement spécial pour les titres commençant par FLM
 */
h1.TitreFLM {
    padding-top: 20px;
    padding-left: 50px;
    font-size: 35px;
    color: #B99487;
}

span.TitreFLM_FLM {
    color: #c3181e;
    font-size: 55px;
}



/****************************************************************
 * Page d'accueil
 */

.jq_IntroRecherche {
    font-style: italic;
}


/*****************************************************************
 * Bloc de recherche
 */

#RECHERCHE {
    margin-top: 20px;
   position: relative;
   width: 560px;
   box-sizing: content-box;
}

#RECHERCHE * {
    box-sizing: content-box;
}

#RECHERCHE_INPUT {
    width: 365px;
    height: 50px;
    border-bottom-width: 5px;
    border-bottom-color: #090909;
    border-bottom-style: solid;
    border-top-width: 5px;
    border-top-color: #090909;
    border-top-style: solid;
    border-left-width: 5px;
    border-left-color: #090909;
    border-left-style: solid;
    background-color: #826c63;
}

#RECHERCHE_INPUT input {
    width: 355px;
    height: 40px;
    border: none;
    background-color: #826c63;
    color: white;
    font-weight: bold;
    font-size: 14px;
    padding-left: 5px;
}


#RECHERCHE_OK {
    position: absolute;
    top: 0;
    left: 370px;
    width: 50px;
    height: 50px;
    border-bottom-width: 5px;
    border-bottom-color: #090909;
    border-bottom-style: solid;
    border-top-width: 5px;
    border-top-color: #090909;
    border-top-style: solid;
    border-left-width: 5px;
    border-left-color: #090909;
    border-left-style: solid;
    border-right-width: 5px;
    border-right-color: #090909;
    border-right-style: solid;
}

#RECHERCHE_OK input {
    border: none;
    width: 50px;
    height: 50px;
    display: block;
    cursor: pointer;
    background-color: #c4a99f;
    color: white;
    font-weight: bold;
    font-size: 14px;
}

#RECHERCHE_DROITE_1 {
    position: absolute;
    top: 0;
    left: 430px;
    width: 50px;
    height: 50px;
    border-bottom-width: 5px;
    border-bottom-color: #090909;
    border-bottom-style: solid;
    border-top-width: 5px;
    border-top-color: #090909;
    border-top-style: solid;
}

#RECHERCHE_DROITE_2 {
    position: absolute;
    top: 0;
    left: 480px;
    width: 130px;
    height: 50px;
    border-top-width: 5px;
    border-top-color: #090909;
    border-top-style: solid;
}

#RECHERCHE_BAS_1 {
    width: 365px;
    height: 45px;
    border-left-width: 5px;
    border-left-color: #090909;
    border-left-style: solid;
    border-right-width: 5px;
    border-right-color: #090909;
    border-right-style: solid;
}

#RECHERCHE_BAS_2 {
    width: 365px;
    min-height: 70px;
    border-left-width: 5px;
    border-left-color: #090909;
    border-left-style: solid;
}

#RECHERCHE_RESULTAT {
    width: 320px;
    margin-left: 15px;
    padding-top: 1px;
    position: relative;
    top: -35px;
}




/** Problème des colonnes de même taille
http://www.minimit.com/articles/solutions-tutorials/bootstrap-3-responsive-columns-of-same-height
 columns of same height styles */
.container-xs-height {
    display:table;
    padding-left:0px;
    padding-right:0px;
}
.row-xs-height {
    display:table-row;
}
.col-xs-height {
    display:table-cell;
    float:none;
}
@media (min-width: 768px) {
    .container-sm-height {
        display:table;
        padding-left:0px;
        padding-right:0px;
    }
    .row-sm-height {
        display:table-row;
    }
    .col-sm-height {
        display:table-cell;
        float:none;
    }
}
@media (min-width: 992px) {
    .container-md-height {
        display:table;
        padding-left:0px;
        padding-right:0px;
    }
    .row-md-height {
        display:table-row;
    }
    .col-md-height {
        display:table-cell;
        float:none;
    }
}
@media (min-width: 1200px) {
    .container-lg-height {
        display:table;
        padding-left:0px;
        padding-right:0px;
    }
    .row-lg-height {
        display:table-row;
    }
    .col-lg-height {
        display:table-cell;
        float:none;
    }
}

 /*firefox fix */
.img-responsive {
    width: 100%;
}

/* vertical alignment styles */
.col-top {
    vertical-align:top;
}
.col-middle {
    vertical-align:middle;
}
.col-bottom {
    vertical-align:bottom;
}