#scrutariCol {
padding-left: 20px;
}

.btn-primary:hover, .btn-primary:focus,   .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    color: rgb(255, 255, 255);
    background-color: #c3181e;
    border-color: #000;
}

.btn-primary {
    color: rgb(255, 255, 255);
    background-color: #b99487;
    border-color: #000;
}

.panel-default > .panel-heading {
    color: #fff;
    background-color: #b99487;
    border-color:#000;
}

.btn-primary.disabled, .btn-primary[disabled], fieldset[disabled] .btn-primary, .btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover, .btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus, .btn-primary.disabled:active, .btn-primary[disabled]:active, fieldset[disabled] .btn-primary:active, .btn-primary.disabled.active, .btn-primary.active[disabled], fieldset[disabled] .btn-primary.active {
    background-color: #fff1f1;
    border-color:  #000;
    color: grey;
}

.btn-primary.active.focus, .btn-primary.active:focus {
	background-color: #b99487;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    z-index: 2;
    color: rgb(255, 255, 255);
    cursor: default;
    background-color: #c3181e;
    border-color: #8a0019;
}

.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
    color: #c2130f;
    background-color: rgb(238, 238, 238);
    border-color: rgb(221, 221, 221);
}

.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
    color: #c2130f;
    background-color: rgb(238, 238, 238);
    border-color: rgb(221, 221, 221);
}

.pagination > li > a, .pagination > li > span {
    color: #c3181e;
}

.scrutari-history-Active {
background-color: #fff1f1;
border: none!important;
}

.scrutari-fiche-CurrentBlock {
background-color: #fff1f1;
}

span.scrutari-Mark {
    background-color: #ffe1e1;
}

div.scrutari-history-Block {
 padding-left: 0;   
 margin-left: 0;
 border: none;
}

.scrutari-stats-Count {
color: #B99487;
}

.scrutari-title-Main {
color: #B99487;
font-size: 35px;
font-weight: bold;
margin-top: 20px;
}

.scrutari-panel-Active,
.scrutari-panel-Title > .scrutari-panel-Active {
    color: #c3181e!important;
}

/*
#8e000e;

#8a0019;

#c2130f;
*/