<B_fiches><ul class="SCT_Fiches">
<BOUCLE_fiches(DATA){source table, #FLM_LISTE_FICHES{#ENV{fiches}}}>
    <li><div>[<img src="(#VALEUR{icon})" alt=""/>]</div><p class="SCT_Titre"><a href="#VALEUR{href}" target="_blank">#VALEUR{titre}</a>[, (#VALEUR{realisateurs})][, (#VALEUR{annee})]</p>
        [<p class="SCT_Soustitre">(#VALEUR{soustitre})</p>]
    </li>
</BOUCLE_fiches>
</ul></B_fiches>