<p class="Lien_Partenaire"><BOUCLE_liens(ARTICLES){id_rubrique=5}{par num titre}>
|&nbsp;<a href="#partenaire_#ID_ARTICLE">#TITRE</a>
</BOUCLE_liens>|</p>

<BOUCLE_articles(ARTICLES){id_rubrique=5}{par num titre}>
<h2 class="Partenaire" id="partenaire_#ID_ARTICLE">▶ &nbsp; <em>#TITRE</em>[ : (#SOUSTITRE)]</h2>

[<div class="#EDIT{texte} texte surlignable">(#TEXTE|image_reduire{500,*})</div>]

</BOUCLE_articles>