.scrutari-Hidden {
  display: none !important;
}

.scrutari-Disabled,
.scrutari-panel-Title > .scrutari-Disabled {
color: grey;
}

.scrutari-Label {
font-weight: normal;
display: inline;
margin-bottom: 0;
}

.scrutari-Mark {
background-color: #e9e9e9;
}

.scrutari-area-Parameters {
margin-bottom: 25px;
}

.scrutari-area-Result {
margin-bottom: 10px;
}

.scrutari-area-Stats {
margin-top: 15px;
margin-bottom: 15px;
}

.scrutari-area-Title {
}

.scrutari-button-Parameters {
width: 100%;
padding-top: 4px;
padding-bottom: 4px;
}

.scrutari-export-Atom {
background-image: url("images/export_atom.png");
min-height: 17px;
padding-left: 18px;
background-repeat:  no-repeat;
}

.scrutari-export-Ods {
background-image: url("images/export_ods.png");
min-height: 17px;
padding-left: 18px;
background-repeat:  no-repeat;
}

.scrutari-fiche-Annee {
font-size: 1.0em;
margin-bottom: 3px;
font-style: italic;
margin-left: 35px;
}

.scrutari-fiche-AttrBlocks {
margin-left: 50px;
font-size: 1.0em;
margin-bottom: 2px;
}

.scrutari-fiche-Attribute {
margin-left: 35px;
font-size: 1.0em;
margin-bottom: 2px;
}

.scrutari-fiche-Block {
margin-bottom: 15px;
padding-left: 3px;
border-left-style: solid;
border-left-width: 1px;
border-left-color: #a0a0a0;
}

.scrutari-fiche-Complement {
margin-left: 35px;
font-size: 1.0em;
margin-bottom: 2px;
}

.scrutari-fiche-Icon {
float: left;
margin-top: 0;
}

.scrutari-fiche-Motcle {
font-variant: small-caps;
font-size: 1.0em;
margin-left: 35px;
margin-bottom: 2px;
}

.scrutari-fiche-Soustitre {
margin-bottom: 3px;
font-style: italic;
margin-left: 31px;
}

.scrutari-fiche-Titre {
font-size: 1.1em;
margin-bottom: 4px;
margin-left: 21px;
margin-top: 0;
}

.scrutari-history-Active {
background-color: #e9e9e9;
}

.scrutari-history-Block {
padding-top: 2px;
padding-bottom: 2px;
padding-left: 3px;
border-left-style: solid;
border-left-width: 1px;
border-left-color: #515151;
margin-top: 6px;
margin-left: 6px;
word-wrap: break-word;
}

.scrutari-icon-Loader {
background-image: url("images/ajax-loader.gif");
position: relative;
display: inline-block;
width: 16px;
height: 16px;
}

.scrutari-icon-Logo {
background-image: url("images/logo-scrutari.png");
position: relative;
bottom: -10px;
display: inline-block;
width: 32px;
height: 32px;
}

.scrutari-input-Text {
border-bottom-left-radius: 4px;
border-top-left-radius: 4px;
padding: 2px;
border-style: solid;
border-width: 1px;
border-color: #dfdfdf;
border-top-color: #a0a0a0;
border-left-color: #a0a0a0;
}

.scrutari-label-Attribute {
font-style: italic;
}

.scrutari-label-Complement {
font-style: italic;
}

.scrutari-label-Motcle {
font-style: italic;
font-variant: normal;
}

.scrutari-links-Title {
margin-top: 30px;
margin-bottom: 10px;
word-wrap: break-word;
}

.scrutari-links-Poweredby {
font-size: 0.8em;
text-align: center;
margin-top: 20px;
}

.scrutari-modal-Title {
font-size: 1.3em;
}

.scrutari-panel-Active,
.scrutari-panel-Title > .scrutari-panel-Active {
color: green;
}

.scrutari-panel-Div {
margin-bottom: 0;
}

.scrutari-panel-Heading {
padding-top : 5px;
padding-bottom: 5px;
}

.scrutari-panel-Icon {
vertical-align: baseline;
}

.scrutari-panel-Title {
font-size: 1.0em;
line-height: 1.1;
}

.scrutari-panel-WithTools {
padding-top : 3px;
}

.scrutari-result-Pagination {
margin-top: 15px;
margin-bottom: 15px;
}

.scrutari-stats-Abbr {
text-decoration: none;
}

.scrutari-stats-Count {
font-family: monospace;
font-weight: bold;
text-align: right;
}

.scrutari-stats-Filter {
color: green;
}

.scrutari-stats-None {
color: red;
}

.scrutari-title-Main {
font-size: 1.3em;
margin-top: 20px;
margin-bottom: 10px;	
}